<!doctype html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
  <head
    th:replace="~{_layout::head(title=~{::title}, styles=~{::styles}, preload=~{::preload}, scriptsDefer=~{::scriptsDefer})}"
  >
    <title th:text="#{transaction-detail.title}">Haushalt - Transaktion</title>
    <th:block th:fragment="styles">
      <link
        rel="stylesheet"
        th:href="@{/css/transaction-detail.css}"
        data-turbo-track="dynamic"
      />
    </th:block>
    <th:block th:fragment="preload">
      <link
        rel="preload"
        th:replace="~{fragments/asset-dependency-preload::links('transaction-detail.js')}"
      />
    </th:block>
    <th:block th:fragment="scriptsDefer">
      <script defer type="module" asset:src="transaction-detail.js"></script>
    </th:block>
  </head>
  <body th:replace="~{_layout::body(~{::content})}">
    <th:block th:ref="content">
      <div
        th:replace="~{_navigation::top(${#messages.msg('transactions.h1')}, ~{::transactions-filter})}"
      >
        <form
          th:ref="transactions-filter"
          action="#"
          th:action="@{/transactions}"
          th:object="${filter}"
          method="get"
          class="transactions-view__filter flex items-center gap-1"
        >
          <label for="filter-from-input" th:text="#{transactions.filter.from}"
            >von</label
          >
          <input id="filter-from-input" type="date" th:field="*{from}" />
          <label for="filter-to-input" th:text="#{transactions.filter.to}"
            >bis</label
          >
          <input id="filter-to-input" type="date" th:field="*{to}" />
          <button
            type="submit"
            data-turbo-action="replace"
            th:text="#{transactions.filter.submit}"
          >
            Aktualisieren
          </button>
        </form>
      </div>

      <main class="layout__content--subgrid">
        <div
          id="frame-main"
          th:fragment="frame-main(transaction)"
          class="transaction-view__detail"
        >
          <h2 th:text="#{transaction-detail.heading}">Transaktion</h2>
          <form
            action="#"
            th:action="@{/transactions/{id} (id=${transaction.id})}"
            method="post"
            th:object="${transaction}"
          >
            <div>
              <div>
                <label
                  for="payee-input"
                  th:text="#{transaction-detail.form.payee.label}"
                  >Empfänger</label
                >
                <input
                  id="payee-input"
                  type="text"
                  readonly
                  th:field="*{payee}"
                />
                <label
                  for="mapped-payee-input"
                  th:text="#{transaction-detail.form.payee.mapped.label}"
                  >Mapped Empfänger</label
                >
                <input
                  id="mapped-payee-input"
                  type="text"
                  th:field="*{mappedPayee}"
                  readonly
                />
              </div>
              <div>
                <label
                  for="payer-input"
                  th:text="#{transaction-detail.form.payer.label}"
                  >Sender</label
                >
                <input
                  id="payer-input"
                  type="text"
                  th:field="*{payer}"
                  readonly
                />
              </div>
              <div>
                <label
                  for="reference-input"
                  th:text="#{transaction-detail.form.reference.label}"
                  >Verwendungszweck</label
                >
                <input
                  id="reference-input"
                  type="text"
                  th:field="*{reference}"
                  readonly
                />
              </div>
              <div>
                <label
                  for="customer-reference-input"
                  th:text="#{transaction-detail.form.customer-reference.label}"
                  >Kundenreferenz</label
                >
                <input
                  id="customer-reference-input"
                  type="text"
                  th:field="*{customerReference}"
                  readonly
                />
              </div>
              <div>
                <label
                  for="amount-input"
                  th:text="#{transaction-detail.form.amount.label}"
                  >Betrag</label
                >
                <input
                  id="amount-input"
                  type="text"
                  th:field="*{amount}"
                  readonly
                />
                <span>€</span>
              </div>
            </div>
            <div class="mt-4">
              <button
                type="submit"
                class="button-secondary"
                th:text="#{transaction-detail.form.submit}"
              >
                Änderungen übernehmen
              </button>
            </div>
          </form>
          <div class="mt-8">
            <h3 th:text="#{transaction-detail.tags.heading}">Tags</h3>
            <p
              th:if="${#lists.isEmpty(transaction.tags)}"
              th:text="#{transaction-detail.tags.empty}"
            >
              Der Transaktion wurden noch keine Tags zugewiesen.
            </p>
            <form
              class="mt-4 flex items-center gap-1"
              action="#"
              th:action="@{/transactions/{id}/tags/add (id=${transaction.id})}"
              method="post"
            >
              <label
                for="new-tag-input"
                th:text="#{transaction-detail.tags.form.new.label}"
              >
                Tag
              </label>
              <input
                id="new-tag-input"
                name="tag"
                type="text"
                list="tag-name-datalist"
                class="self-stretch"
              />
              <datalist id="tag-name-datalist">
                <option
                  th:each="tag : ${allTagNames}"
                  value="Restaurant"
                  th:value="${tag}"
                  th:text="${tag}"
                >
                  Restaurant
                </option>
              </datalist>
              <button
                type="submit"
                class="button-secondary button--small"
                name="add-tag"
                th:text="#{transaction-detail.tags.form.new.button.text}"
              >
                Tag hinzufügen
              </button>
            </form>
            <form
              class="mt-8"
              action="#"
              th:action="@{/transactions/{id}/tags (id=${transaction.id})}"
              method="post"
              th:object="${transaction}"
            >
              <ul
                th:if="${not #lists.isEmpty(transaction.tags)}"
                class="transaction-tag-list"
              >
                <li
                  th:each="tag : ${transaction.tags}"
                  th:with="i=${tagStat.index}, fieldId=${'transaction-tag-'+i}"
                >
                  <label
                    for="transaction-tag"
                    th:for="${fieldId}"
                    th:classappend="${'tag-color-'+tag.color}"
                  >
                    <input
                      id="transaction-tag"
                      th:id="${fieldId}"
                      type="checkbox"
                      name="tag"
                      th:value="${tag.name}"
                      th:checked="${true}"
                    />
                    <th:block th:text="${tag.name}">Restaurant</th:block>
                  </label>
                </li>
              </ul>
              <div class="mt-4" th:if="${not #lists.isEmpty(transaction.tags)}">
                <button
                  type="submit"
                  class="button-secondary"
                  th:text="#{transaction-detail.tags.form.submit}"
                >
                  Tags aktualisieren
                </button>
              </div>
            </form>
          </div>
        </div>
        <div
          id="frame-transactions"
          th:fragment="frame-transactions(transactions)"
          class="transaction-view__transactions flex gap-8"
        >
          <div
            th:replace="~{transactions/_transaction-list::transactions(${transactions})}"
          ></div>
        </div>
      </main>
    </th:block>
  </body>
</html>
