<!doctype html>
<html lang="de">
  <head
    th:replace="~{_layout::head(title=~{::title}, preload=~{::preload}, scriptsDefer=~{::scriptsDefer}, styles=~{::styles})}"
  >
    <title>Haushalt - Transaktionen</title>
    <th:block th:fragment="styles">
      <link rel="stylesheet" th:href="@{/css/transactions.css}" />
    </th:block>
    <th:block th:fragment="preload">
      <link
        rel="preload"
        th:replace="~{fragments/asset-dependency-preload::links('transactions.js')}"
      />
    </th:block>
    <th:block th:fragment="scriptsDefer">
      <script defer type="module" asset:src="transactions.js"></script>
    </th:block>
  </head>
  <body th:replace="~{_layout::body(~{::content})}">
    <th:block th:ref="content">
      <div
        th:replace="~{_navigation::top('Transaktionen', ~{::transactions-filter})}"
      >
        <form
          th:ref="transactions-filter"
          action="#"
          th:action="@{/transactions}"
          th:object="${filter}"
          method="get"
          class="transactions-view__filter flex items-center gap-1"
        >
          <label for="filter-from-input">von</label>
          <input id="filter-from-input" type="date" th:field="*{from}" />
          <label for="filter-to-input">bis</label>
          <input id="filter-to-input" type="date" th:field="*{to}" />
          <button type="submit">Aktualisieren</button>
        </form>
      </div>

      <main class="layout__content--subgrid">
        <div class="transactions-view__charts">
          <h2>Ausgaben</h2>
          <div style="width: 100%">
            <script id="expenses-chart-data" th:inline="javascript">
              window.haushalt = window.haushalt ?? {};
              window.haushalt.expenses = window.haushalt.expenses ?? {};
              window.haushalt.expenses.chart =
                window.haushalt.expenses.chart ?? {};
              window.haushalt.expenses.chart.data =
                /*[[${expensesChartData}]]*/ [];
            </script>
            <canvas id="expenses-chart-canvas"></canvas>
          </div>
        </div>
        <div class="transactions-view__transactions flex gap-8">
          <ul
            th:fragment="transactions"
            th:if="${not #lists.isEmpty(transactions)}"
            class="transaction-card-container"
          >
            <li th:each="transaction : ${transactions}">
              <a
                href="#"
                th:href="@{/transactions/{id} (id=${transaction.id})}"
                class="transaction-card"
                th:classappend="${transaction.active ? 'active' : ''}"
              >
                <span
                  class="transaction-card__booking-date"
                  th:text="${#temporals.format(transaction.bookingDate, 'LONG')}"
                ></span>
                <span
                  class="transaction-card__amount"
                  th:text="${#numbers.formatCurrency(transaction.amount)}"
                ></span>
                <span
                  class="transaction-card__payee"
                  th:text="${transaction.payee}"
                ></span>
                <span
                  class="transaction-card__reference"
                  th:text="${transaction.reference}"
                ></span>
              </a>
            </li>
          </ul>
        </div>
      </main>
    </th:block>
  </body>
</html>
