<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Document</title>
  </head>
  <body>
    <th:block th:ref="stream">
      <turbo-stream target="frame-transactions" action="update" method="morph">
        <template>
          <div
            th:replace="~{transactions/_transaction-list::transactions(${transactions})}"
          ></div>
        </template>
      </turbo-stream>
      <turbo-stream target="frame-main" action="update" method="morph">
        <template>
          <div
            th:replace="~{transactions/detail::frame-main(${transaction})}"
          ></div>
        </template>
      </turbo-stream>
    </th:block>
  </body>
</html>
