<!doctype html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
  <head
    th:replace="~{_layout::head(title=~{::title}, preload=~{::preload}, scriptsDefer=~{::scriptsDefer}, styles=~{::styles})}"
  >
    <title th:text="#{tags-new.title}">Haushalt - Tags</title>
    <th:block th:fragment="styles">
      <link rel="stylesheet" th:href="@{/css/settings.css}" />
      <link rel="stylesheet" th:href="@{/css/settings-tags.css}" />
    </th:block>
    <th:block th:fragment="preload"></th:block>
    <th:block th:fragment="scriptsDefer"></th:block>
  </head>
  <body th:replace="~{_layout::body(~{::content})}">
    <th:block th:ref="content">
      <div
        th:replace="~{_navigation::top(${#messages.msg('tags-new.h1')}, ~{})}"
      ></div>

      <main class="layout__content p-4">
        <nav th:replace="~{settings/index::navigation}"></nav>
        <div class="mt-8">
          <h2 th:text="#{tags-new.heading}">Neue Tags erstellen</h2>
          <th:block th:object="${newTags}">
            <p
              class="mt-4 error"
              th:if="${#fields.hasErrors()}"
              th:text="#{tags-new.feedback.error}"
            >
              Eingaben prüfen
            </p>
            <form
              class="mt-8"
              action="#"
              th:action="@{/tags/new}"
              method="post"
            >
              <ul th:replace="~{tags/index::tag-list(${newTags})}"></ul>
              <button class="mt-4" type="submit" th:text="#{tags-new.submit}">
                Tags erstellen
              </button>
            </form>
          </th:block>
        </div>
      </main>
    </th:block>
  </body>
</html>
