/*
 * use `body` selector to make utilities selector more explicit and to outweigh [data-theme] selectors.
 *
 * actually we have to add additional `[data-theme=dark] .my-util {}` classes I think?
 * especially for colors, as we want color-1 for light theme and color-2 for dark theme
 * <button class="color-1 dark:color-2">
 *
 * no... I do not want to use tailwind for that...
 */
body {
  .text-center {
    text-align: center;
  }

  .text-left {
    text-align: left;
  }

  .text-right {
    text-align: right;
  }

  .text-base {
    font-size: 1rem;
  }

  .font-bold {
    font-weight: 600;
  }

  .no-wrap {
    white-space: nowrap;
  }

  .tabular-nums {
    font-variant-numeric: tabular-nums;
  }

  .max-w-32 {
    max-width: calc(var(--gap-4) * 32);
  }

  .max-w-64 {
    max-width: calc(var(--gap-4) * 64);
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

  .ml-1 {
    margin-left: var(--gap);
  }

  .ml-auto {
    margin-left: auto;
  }

  .mt-2 {
    margin-top: var(--gap-2);
  }

  .mt-8 {
    margin-top: var(--gap-8);
  }

  .p-4 {
    padding: var(--gap-4);
  }

  .pr-4 {
    padding-right: var(--gap-4);
  }

  .pr-5 {
    padding-right: var(--gap-5);
  }

  .pr-6 {
    padding-right: var(--gap-6);
  }

  .bg-white {
    background-color: white;
  }

  .bg-body {
    background-color: var(--background-color);
  }

  .flex {
    display: flex;
  }

  .flex-col {
    flex-direction: column;
  }

  .items-center {
    align-items: center;
  }

  .items-end {
    align-items: flex-end;
  }

  .justify-end {
    justify-content: flex-end;
  }

  .justify-between {
    justify-content: space-between;
  }

  .justify-self-end {
    justify-self: flex-end;
  }

  .flex-1 {
    flex-grow: 1;
  }

  .text-violet-800 {
    color: var(--color-slate-800);
  }

  .gap-1 {
    gap: var(--gap);
  }

  .gap-2 {
    gap: var(--gap-2);
  }

  .gap-2 {
    gap: var(--gap-3);
  }

  .gap-4 {
    gap: var(--gap-4);
  }

  .gap-5 {
    gap: var(--gap-5);
  }

  .gap-6 {
    gap: var(--gap-6);
  }

  .gap-7 {
    gap: var(--gap-7);
  }

  .gap-8 {
    gap: var(--gap-8);
  }
}
