<!doctype html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
  <head
    th:fragment="head(title)"
    th:with="
      preconnect=${preconnect}?:_,
      importmaps=${importmaps}?:_,
      scriptsAsync=${scriptsAsync}?:_,
      scripts=${scripts}?:_,
      styles=${styles}?:_,
      preload=${preload}?:_,
      scriptsDefer=${scriptsDefer}?:_,
      prefetchOrPrerender=${prefetchOrPrerender}?:_,
      additional=${additional}?:_"
  >
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="dark" />
    <title th:replace="${title}">Page Title</title>

    <th:block th:replace="${preconnect}"></th:block>
    <th:block th:replace="${scriptsAsync}"></th:block>
    <th:block th:replace="${importmaps}"></th:block>
    <th:block th:replace="${scripts}"></th:block>

    <link rel="stylesheet" type="text/css" th:href="@{/css/01-base.css}" />
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/css/02-components.css}"
    />
    <th:block th:replace="${styles}"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/css/03-utility.css}" />

    <link
      rel="preload"
      th:replace="~{fragments/asset-dependency-preload::links('common.js')}"
    />
    <th:block th:replace="${preload}"></th:block>

    <script defer type="module" asset:src="common.js"></script>
    <th:block th:replace="${scriptsDefer}"></th:block>
    <th:block th:replace="${prefetchOrPrerender}"></th:block>
    <th:block th:replace="${additional}"></th:block>

    <meta name="turbo-prefetch" content="false" />
    <meta name="turbo-cache-control" content="no-cache" />
  </head>
  <body th:fragment="body(content)" data-theme="dark">
    <th:block th:replace="${content}">content</th:block>
  </body>
</html>
