<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Navigation</title>
  </head>
  <body>
    <th:block th:fragment="top(title, nextToTitle)">
      <h1 class="layout__title" th:text="${title}">Titel</h1>
      <div class="layout__next-to-title">
        <th:block th:replace="${nextToTitle}"></th:block>
      </div>
      <div class="layout__buttons">
        <ul class="navigation">
          <li>
            <a class="navigation__icon-button" href="#" th:href="@{/payees}">
              <span class="sr-only">Zahlungsempfänger</span>
              <svg th:replace="~{icons/settings-2::svg}"></svg>
            </a>
          </li>
          <li>
            <a
              class="button-secondary"
              href="#"
              th:href="@{/transactions/import}"
            >
              Importieren
            </a>
          </li>
        </ul>
      </div>
    </th:block>
  </body>
</html>
