<!doctype html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
  <head
    th:replace="~{_layout::head(title=~{::title}, preload=~{::preload}, scriptsDefer=~{::scriptsDefer}, styles=~{::styles})}"
  >
    <title th:text="#{settings.title}">Haushalt - Einstellungen</title>
    <th:block th:fragment="styles">
      <link rel="stylesheet" th:href="@{/css/settings.css}" />
    </th:block>
    <th:block th:fragment="preload"></th:block>
    <th:block th:fragment="scriptsDefer"></th:block>
  </head>
  <body th:replace="~{_layout::body(~{::content})}">
    <th:block th:ref="content">
      <div
        th:replace="~{_navigation::top(${#messages.msg('settings.h1')}, ~{})}"
      ></div>

      <main class="layout__content p-4">
        <nav
          th:fragment="navigation"
          th:aria-label="#{settings.sub-navigation.aria-label}"
        >
          <ul>
            <li>
              <a
                href="#"
                th:href="@{/payees}"
                th:text="#{settings.sub-navigation.payees}"
              >
                Zahlungsempfänger
              </a>
            </li>
            <li>
              <a
                href="#"
                th:href="@{/tags}"
                th:text="#{settings.sub-navigation.tags}"
              >
                Tags
              </a>
            </li>
          </ul>
        </nav>
      </main>
    </th:block>
  </body>
</html>
